.page {
  font-family: Inter, sans-serif;
  margin: 0;
  box-sizing: border-box;


  &__container {
    padding: 0 110px;

    @include onLarge {
      padding: 0 234px;
    }

    @include onTablet {
      padding: 0 34px;
    }

    @include onMobile {
      padding: 0 20px;
    }
  }

  &__link {
    text-decoration: none;
    color: $c-white;
    font-size: 16px;
    font-weight: $fw-500;
    transition: 300ms ease-in-out;

    &:hover {
      color: $c-blue;
    }
  }
}
